---
layout: default
---
{% include header.html src="assets/header/roncier.jpg" %}

{% include nav.html active=4 %}
{% include acid.html %}

<section class="paragraph">
  <p>
    ACID WAS FOUNDED BY DIRECTOR, PRODUCER MADO SCOTT, DI GITAL ARTIST ANTOINE
    BELOT, DESIGNER VIRGILE BIOSA AND SOUND AND DIGITAL ARTIST ETIENNE
    KAWCZAK-WIRZ. WITH A STRONG ARTISTIC APPROACH THAT IS CONSTANTLY CHALLENGED
    IN OUR INNOVATION DEPARTEMENT «<b>UNEXPLORED FIELDS</b>», ACID WORKS SPANS
    FROM COMMERCIALS TO SPECIAL PROJECTS PRODUCED BY ITS MORE EXCLUSIVE BRAND,
    «<b>RAYS</b>».
  </p>
  <p>
    ACID BELIEVES IN CONTENT DRIVEN EXPERIENCES. WHAT IS SEEN OR SAID DRIVE THE
    HOW WE EXPERIENCE.
  </p>
  <p>
    THIS APPROACH HAS BROUGHT BRANDS TO POSITION THEMSELVES IN A FAST-EVOLVING
    VIRTUAL REALM, KEEPING THEIR FOCUS ON VISION AND DNA.
  </p>
</section>

<section class="info">
  <section class="A">
    <p class="bold">CONTACT@ACIDRAYS.COM</p>
    <p>
      LONDON HQ : YALDING HOUSE, 2ND FLOOR W1W 5QA, UNITED KINGDOM <br>
      PARIS HQ : 88 RUE DE LA FOLIE MERICOURT 75011 PARIS, FRANCE
    </p>
    <section class="socials">
      <a class="bold" target="_blank" href="https://www.instagram.com/raysbyacid/">INSTAGRAM</a>
      <a class="bold" target="_blank" href="https://linkedin.com/company/acidr">LINKEDIN</a>
    </section>
    <section class="images-studio">
      <img src="assets/about/EDN3635-Edit.png" alt="" />
      <img src="assets/about/EDN3667-HDR.png" alt="" />
      <img src="assets/about/EDN3688-Edit.png" alt="" />
      <img src="assets/about/EDN3697-Edit.png" alt="" />
    </section>
  </section>
  <section class="B">
    <section class="services">
      <h1>SERVICES</h1>
      <h2>CREATIVE DESIGN</h2>
      <ul>
        <li>VIRTUAL DESIGN</li>
        <li>IMMERSIVE VIRTUAL EXPERIENCES</li>
        <li>AR TOOLS AND CAMPAIGNS</li>
        <li>SET DESIGN / DIGITAL DIRECTION FOR<br>LIVE PERFORMANCES</li>
        <li>SOUND DESIGN AND MUSIC</li>
      </ul>
      <h2>VIRTUAL CONSULTING</h2>
      <ul>
        <li>NFT AND BLOCKCHAIN</li>
        <li>VIRTUAL BUSINESS</li>
        <li>ANALYST</li>
        <li>DIGITAL MARKETING</li>
        <li>STRATEGY</li>
      </ul>
      <h2>NEW POST-PRODUCTION</h2>
      <ul>
        <li>REAL-TIME PRODUCTION</li>
        <li>LIVE VFX</li>
        <li>IN-HOUSE MOTION CAPTURE</li>
        <li>CGI</li>
      </ul>
      <h2>PLATFORM SERVICES</h2>
      <ul>
        <li>PLATFORMS</li>
        <li>MICROVERSES</li>
        <li>PHOTO-REALISTIC</li>
        <li>UNIVERSE CREATION</li>
      </ul>
    </section>
    <section class="talks-exhib">
      <h1>TALKS AND EXHIBITIONS</h1>
      <section class="inline">

          <h2>TALKS</h2>
          <ul>
        <li>ANDAM</li>
        <li>ANTIDOTE</li>
        <li>MINISTÈRE DE LA CULTURE</li>
        <li>IFM</li>
        <li>TECHNIKART MADEMOISELLE</li>
        <li>HFW WWD</li>
    </ul>
</section>
<section class="inline">

    <h2>EXHIBITIONS</h2>
    <ul>
        <li>METAFORM EXHIBITION</li>
    </ul>
</section>
</section>
</section>
</section>

<div class="markee-wrap">
<section class="markee">

    <p>Clients whom we worked for include</p>
    {% for image in site.static_files %} {% if image.path contains
      'assets/logos/clients' %}
      <!-- {{ site.url }}{{site.baseurl}} -->
      <img class="logo" src="{{ image.path }}" alt="" />
      {% endif %} {% endfor %}
      <div class="markee-fade"></div>
    
    </section>
  </div>
<div class="markee-wrap">
<section class="markee">

    <p>They support us</p>
    {% for image in site.static_files %} {% if image.path contains
      'assets/logos/partners' %}
      <!-- {{ site.url }}{{site.baseurl}} -->
      <img class="logo" src="{{ image.path }}" alt="" />
      {% endif %} {% endfor %}
      <div class="markee-fade"></div>
    </section>
  </div>
  {% include footer.html %}    
  
  <style>
    .logo {
      transition: all .2s;
      max-width: 100px;
    max-height: 50px;
    object-fit: contain;
  }

  .markee-wrap::-webkit-scrollbar {
    display:none
  }
  .markee:hover {
    margin-left: calc(-100vw);
  }
  .markee {
    transition: all 7s;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow-x: scroll; */
    width: max-content;
    gap: var(--gutter);
    padding:30px 0;
    min-width: 100%;
    padding-left: var(--gutter);
    padding-right: 100px;
  }
  .logo:hover {
    transform: scale(1.2);
  }
  .markee-wrap {
    border: 1px solid var(--secondary);
    border-left: none;
    border-right: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    overflow-x: scroll;
  }
  
  .A {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 16px;
  }
  .A * {
    margin: 0;
  }
  .B {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .services {
    text-align: right;
  }
  .info {
    padding: 30px var(--gutter);
    font-family: Helvetica;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  .images-studio {
    gap: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
  }
  .images-studio img {
    width: calc(40% - 5px);
  }
  .info li {
    opacity: .8;
    max-width: 100%;
  }
  .info ul {
    
    line-height: 20px;
    list-style-type: none;
  }
  .inline {
    display: flex;
    justify-content: space-between;
  }
  .inline h2 {
    margin: 0;
    position: absolute;
  }
  .inline ul {
    margin-left: 150px;
  }
  h2 {
      margin: 16px 0 ;
      font-size: 16px;
    }
    .talks-exhib {
      
    }
    h1 {
      margin-top: 0;
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 23px;
    }
    .markee-fade{
      width: 100px;
      height: 100px;
      background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
      position: absolute;
      right: 0;
    }
    .bold {
      text-decoration: none;
      font-weight: bold;
    }
    .socials {
      display: flex;
      gap: 40px;
    }
</style>
<script>
</script>