<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<link rel="stylesheet" href="{{ 'css/app.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'css/vars.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'css/nav.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'css/global.css' | relative_url }}">


	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="https://player.vimeo.com/api/player.js"></script>
	<script defer src="{{ 'js/observer.js' | relative_url }}"></script>
	<!-- <script defer src="js/darkmode.js"></script> -->
	<title>{{page.title | upcase}}</title>
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

</head>