<section class="nav">
    <ul>
      <li class="{% if include.active == 1 %}active{% endif %}">
        <a  href="commercials.html">Commercials</a>
      </li>
      <li class="{% if include.active == 2 %}active{% endif %}">

        <a href="special-projects.html">Special Projects</a>
      </li>
      <li class="{% if include.active == 3 %}active{% endif %}">

        <a href="innovation.html">Innovation</a>
      </li>
        <li class="{% if include.active == 4 %}active{% endif %}">

        <a href="about-acid.html">About Acid</a>
      </li>
    </ul>
  
  </section>